=breadcrumb_tag do
  %li
    = link_to 'Проекты', projects_path
  %li.active
    = t('headers.projects.Редактирование')
  %li
    Администрирование
    
.page-header
  %h1= t('headers.projects.Редактирование')

= render 'form'

.container
  .row
    .panel-body

= link_to  projects_path, class: 'btn btn-warning' do
  = t('buttons.Назад')
