=breadcrumb_tag do
  %li.active
    Сотрудники
  %li
    Администрирование

.page-header
  %h1= t('headers.empls.Список сотрудников')

%table.table.table-hover.table-striped
  %caption
    = link_to new_empl_path, class: 'btn btn-success' do
      = fa_icon :plus
      = t('buttons.new.empl')
  %thead
    %tr
      %th= Empl.human_attribute_name(:last_name)
      %th= Empl.human_attribute_name(:first_name)
      %th= Empl.human_attribute_name(:second_name)
      %th= Empl.human_attribute_name(:birthday)
      %th= Empl.human_attribute_name(:passport)
      %th= Empl.human_attribute_name(:inn)
      %th= Empl.human_attribute_name(:post)
      %th= Empl.human_attribute_name(:depart)
      %th

  %tbody
    - @empls.each do |empl|
      %tr
        %td.center= empl.last_name
        %td.center= empl.first_name
        %td.center= empl.second_name
        %td.center= empl.birthday
        %td.center= empl.passport
        %td.center= empl.inn
        %td.center= empl.post
        %td.center= empl.depart
        %td.right
          = link_to empl, class: 'btn btn-warning' do
            = fa_icon :eye
            = t('buttons.show')
          = link_to edit_empl_path(empl), class: 'btn btn-info' do
            = fa_icon :edit
            = t('buttons.edit')
          = link_to empl, :method => :delete, 
          :data => { :confirm => t('buttons.confirm.empl') }, 
          class: 'btn btn-danger' do
            = fa_icon :times
            = t('buttons.destroy')
            
