=breadcrumb_tag do
  %li
    Сотрудники
  %li
    %li.active
    = link_to t('headers.empl.search'), search_empls_path()
  %li
    = @empl.id

.container
  .row
    .col-md-10
      .panel.panel-default
        .panel-heading
        .list-group
          %p.list-group-item
            %b Фамилия:
            = @empl.last_name
          %p.list-group-item
            %b Имя: 
            = @empl.first_name
          %p.list-group-item
            %b Отчество:
            = @empl.second_name
          %p.list-group-item
            %b Пасспорт:
            = @empl.passport
          %p.list-group-item
            %b Инн:
            = @empl.inn
          %p.list-group-item
            %b Должность: 
            =  @empl.post
          %p.list-group-item
            %b Отдел:
            = @empl.depart.try(:d_name)
        .panel-body
          = link_to  edit_empl_path(@empl), class: 'btn btn-primary' do
            = fa_icon :edit
            = t('buttons.edit')
          = link_to  empls_path, class: 'btn btn-warning' do
            = t('buttons.Назад')
         



